<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <!--<link rel="stylesheet" href="styles/main.css">-->
        <!--        <link rel="stylesheet" href="styles/new_bootstrap-3.1.1.css">-->

        <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/docs.css">
        <link rel="stylesheet" href="styles/font-awesome.css">
        <link href="styles/prettify.css" type="text/css" rel="stylesheet">
        <link href="styles/style_1.0.css" rel="stylesheet" type="text/css" />
        <link href="styles/main.css" rel="stylesheet" type="text/css" />

        <!-- endbuild -->
    </head>
    <body ng-app="myApp">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--        <div class="container-fluid" ng-controller="IndexCtrl" ng-cloak>-->
        <div class="container-fluid ng-scope" ng-controller="IndexCtrl"  ng-cloak>
            <div class="header" >
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">

                            <a class="brand" href="#/home" ng-click="clickHomeTab()" style="padding-top: 6px; padding-bottom: 0px;">
                                <img class="AngularJS-small" src="images/logo_small.png">
                            </a>
                            <ul class="nav">
                                <li class="divider-vertical"></li>
                                <li class="{{tabHomeState}}"><a href="#home" ng-click="clickHomeTab()"><i class="icon-home icon-white"></i> Trang chủ</a></li>
                                <li class="divider-vertical"></li>

                                <li class="{{tabAdState}}"><a href="#advertisements" ng-click="clickAdTab()" ><i class="icon-play-circle icon-white"></i> Quảng cáo</a></li>
                                <li class="divider-vertical"></li>

                                <li class="{{tabInfoState}}"><a href="#/info" ng-click="clickInfoTab()"><i class="icon-file icon-white"></i>Thông tin</a></li>
                                <li class="divider-vertical"></li>

                            </ul>

                            <ul class="nav nav-pills pull-right">
                                <li ng-show="isLoggedIn()" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" >
                                        {{userMenu.username}} <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="getProfile()">Thông tin cá nhân</a></li>
                                        <li class="divider"></li>
                                        <li><a ng-click="logOut()">Đăng xuất</a></li>

                                    </ul>
                                </li>
                            </ul>

                            <ul class="nav nav-pills pull-right">
                                <li ng-show="!isLoggedIn()" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" >
                                        Đăng nhập <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/login" >Đăng nhập</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#/signup" >Đăng ký</a></li>

                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                

            </div>

            <div id="contentId" ng-view="" >

            </div>
        </div>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
        <script src="bower_components/angular-animation-stagger-duration/angular.animation.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/advertisementlist.js"></script>
        <script src="scripts/controllers/beaconlist.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/info.js"></script>
        <script src="scripts/controllers/beaconAdvertis.js"></script>
        <script src="scripts/controllers/submitmodal.js"></script>
        <script src="scripts/controllers/createnewadvertisement.js"></script>
        <script src="scripts/controllers/editadvertisement.js"></script>
        <script src="scripts/controllers/createnewbeacon.js"></script>
        
        
        <script src="scripts/services/serviceconfig.js"></script>
        <script src="scripts/services/sessionservice.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/services/errorcmdservice.js"></script>
        <script src="scripts/services/advertisementservice.js"></script>
        <script src="scripts/services/beaconservice.js"></script>

    </body>
</html>
