<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal-body">

           <table st-table="advertisements" st-safe-src="advertisementList" class="table table-striped table-condensed">
                    <thead>                    
                        <tr>
                            <th st-sort="advertisementId" style="min-width: 20px;">ID</th>
                            <th st-sort="title" style="min-width: 20px;">Title</th>
                            <th st-sort="content" style="min-width: 20px;">Content</th>
                            <th st-sort="startTime" style="min-width: 10px;">Start Time</th>
                            <th st-sort="endTime" style="min-width: 10px;">End Time</th>
                            <th style="width:20px;"> </th>
                            <th style="width:20px;"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="advertisement in remainAds">
                            <td>{{ advertisement.advertisementId}}</td>
                            <td>{{ advertisement.title}}</td>
                            <td>{{ advertisement.content}}</td>
                            <td>{{ advertisement.startTime}}</td>
                            <td>{{ advertisement.endTime}}</td>
                            <td><input type="checkbox"  ng-true-value="true" ng-false-value="false" ng-model="remainModel"  ng-checked ='false' ng-change='checkBoxChange1({{ advertisement.advertisementId}},remainModel)'/></td>                           
                        </tr>
                        <tr ng-repeat="advertisement in currentAds">
                            <td>{{ advertisement.advertisementId}}</td>
                            <td>{{ advertisement.title}}</td>
                            <td>{{ advertisement.content}}</td>
                            <td>{{ advertisement.startTime}}</td>
                            <td>{{ advertisement.endTime}}</td>
                            <td><input type="checkbox" ng-checked ='true' ng-true-value="true" ng-false-value="false" ng-model="currentModel" ng-change='checkBoxChange1({{ advertisement.advertisementId}},currentModel)'/></td>
                        </tr>
                    </tbody>
                </table>
            
                    <div class="form-group">
                    <a ng-click="cancel()" class="btn btn-small btn-primary">Close</a>
                </div>
        </div>
    </body>
</html>
