<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal-body">

    <form  novalidate="novalidate">
<!--	<div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.name" />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.description" />
	</div>-->
	<div class="form-group">
	    <label class="form-control-static">UUID:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.uuid"  />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Major:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.major"  />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Minor:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.minor" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.name" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">description</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.description" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Latitude:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.latitude" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Longitude:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.longitude" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Enable:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.enable" />
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>

<!--    <form  ng-show="hasBeacon" novalidate="novalidate">
	<div class="form-group">
	    <label class="form-control-static">Id:</label>	    
            <p class="form-control-static input-sm"> {{localBeacon.id}}</p>
	</div>

	<div class="form-group">
	    <label class="form-control-static">UUID:</label>
	    <p class="form-control-static input-sm"> {{localBeacon.uuid}}</p>	    
	</div>
	<div class="form-group">
	    <label class="form-control-static">Major:</label>
	    <p class="form-control-static input-sm"> {{localBeacon.major}}</p>
	</div>
	<div class="form-group">
	    <label class="form-control-static">Minor:</label>
	    <p class="form-control-static input-sm"> {{localBeacon.minor}}</p>
	</div>        
        <div class="form-group">
	    <label class="form-control-static">Name:</label>	    
	    <input class="form-control input-sm" type="text" ng-model="localBeacon.name" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="localBeacon.description" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Latitude:</label>
            <input class="form-control input-sm" type="text" ng-model="localBeacon.latitude" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Longitude:</label>
            <input class="form-control input-sm" type="text" ng-model="localBeacon.longitude" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Enable:</label>
            <input class="form-control input-sm" type="text" ng-model="localBeacon.enable" />
	</div>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Update</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>-->
</div>
    </body>
</html>
