<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Đăng nhập</title>
        <link href="styles/login.style.1.0.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

       

        <div id="login" class="login-box workflow-box workflow-box-medium" data-method="standard">
            <header>
                <h1>Đăng nhập</h1>
<!--                <span class="secondary-link standard">

                    Switch to <a class="switch-login" href="#openid">OpenID log in</a>

                </span>-->
<!--                <span class="secondary-link openid">

                    Switch to <a class="switch-login" href="#standard">standard log in</a>

                </span>-->
            </header>
            <section class="clearfix" id="log-in-container">
                <div>
                    <form class="aui login-form"
                          action="/account/signin/" method="post" id="login-form" data-modules="js/login/login-form">


                        <input type="hidden" name="next" value="/account/team_check/?next=/" />


                        <div class="field-group username">
                            <label for="id_username">Tên truy cập</label>
                            <input type="text" class="text long-field" id="id_username" name="username" autofocus="autofocus" ng-model="localUser.username" />
                        </div>



                        <div class="field-group">
                            <label for="id_password">Mật khẩu</label>
                            <input type="password" id="id_password" class="password long-field" name="password" ng-model="localUser.password" />
                        </div>

                        <input type='hidden' name='csrfmiddlewaretoken' value='VLQrxWOWtl0tQjbzEli7TyWV6qLyvE76' />
                        <div class="buttons-container">
<!--                            <div class="buttons">
                                <button type="submit" name="submit" class="aui-button aui-button-primary">

                                    Đăng nhập

                                </button>


                                <a href="#/account/password/reset" class="forgot-password">Quên mật khẩu?</a>

                            </div>-->
        <a ng-click="login()" class="btn btn-small btn-primary" title="Đăng nhập">Đăng nhập <span class="glyphicon glyphicon-log-in"/><br/></a>

<!--                            <div class="sign-up">
                                <a href="#/signup">Bạn chưa có tài khoản, click vào đây để đăng ký</a>
                            </div>-->

                        </div>
                    </form>
                </div>


<!--                <ul id="social-login-forms" class="clearfix horizontal">

                    <li>

                        <form class="connect-button" name="login"
                              data-modules="registration/connect-account-button"
                              method="POST" action="/social/google/redirect/">
                            <input type='hidden' name='csrfmiddlewaretoken' value='VLQrxWOWtl0tQjbzEli7TyWV6qLyvE76' />
                            <input type="hidden" name="next" value="/account/team_check/?next=/">
                                <button type="submit" class="aui-button google-button">
                                    Google
                                </button>
                        </form>
                    </li>
                    <li>

                        <form class="connect-button" name="login"
                              data-modules="registration/connect-account-button"
                              method="POST" action="/social/facebook/redirect/">
                            <input type='hidden' name='csrfmiddlewaretoken' value='VLQrxWOWtl0tQjbzEli7TyWV6qLyvE76' />
                            <input type="hidden" name="next" value="/account/team_check/?next=/">
                                <button type="submit" class="aui-button facebook-button">
                                    Facebook
                                </button>
                        </form>
                    </li>
                    <li>

                        <form class="connect-button" name="login"
                              data-modules="registration/connect-account-button"
                              method="POST" action="/social/twitter/redirect/">
                            <input type='hidden' name='csrfmiddlewaretoken' value='VLQrxWOWtl0tQjbzEli7TyWV6qLyvE76' />
                            <input type="hidden" name="next" value="/account/team_check/?next=/">
                                <button type="submit" class="aui-button twitter-button">
                                    Twitter
                                </button>
                        </form>
                    </li>
                    <li>

                        <form class="connect-button" name="login"
                              data-modules="registration/connect-account-button"
                              method="POST" action="/social/github/redirect/">
                            <input type='hidden' name='csrfmiddlewaretoken' value='VLQrxWOWtl0tQjbzEli7TyWV6qLyvE76' />
                            <input type="hidden" name="next" value="/account/team_check/?next=/">
                                <button type="submit" class="aui-button github-button">
                                    GitHub
                                </button>
                        </form>
                    </li>
                </ul>-->

            </section>
            <section id="openid-container">
                <form id="openid-form" class="aui login-form"
                      data-modules="registration/openid-form"
                      action="/social/openid/redirect/" method="POST">
                    <input type='hidden' name='csrfmiddlewaretoken' value='VLQrxWOWtl0tQjbzEli7TyWV6qLyvE76' />

                    <input name="next" type="hidden" value="/account/team_check/?next=/">


                        <div class="field-group">
                            <label>OpenID provider</label>
                            <ul id="openid-providers">
                                <li><a href="#google" data-url="https://www.google.com/accounts/o8/id" title="Google">Google</a></li>
                                <li><a href="#yahoo" data-url="http://yahoo.com/" title="Yahoo!">Yahoo!</a></li>
                                <li><a href="#aol" title="AOL" data-url="http://openid.aol.com/{id}"

                                       >AOL</a></li>
                                <li><a href="#openid" title="OpenID" data-url="{id}"

                                       >OpenID</a></li>
                                <li><a href="#myopenid" title="MyOpenID" data-url="http://{id}.myopenid.com/"

                                       >MyOpenID</a></li>
                                <li><a href="#livejournal" title="LiveJournal" data-url="http://{id}.livejournal.com/"

                                       >LiveJournal</a></li>
                                <li><a href="#flickr" title="Flickr" data-url="http://flickr.com/{id}/"

                                       >Flickr</a></li>
                                <li><a href="#wordpress" title="WordPress" data-url="http://{id}.wordpress.com/"

                                       >WordPress</a></li>
                                <li><a href="#verisign" title="VeriSign" data-url="http://{id}.pip.verisignlabs.com/"

                                       >VeriSign</a></li>
                                <li><a href="#claimid" title="ClaimID" data-url="http://claimid.com/{id}"

                                       >ClaimID</a></li>
                            </ul>
                        </div>
                        <div class="field-group provider" id="aol">
                            <label for="aol-username">Username</label>
                            <input type="text" class="text" id="aol-username" name="aol-username">
                        </div>
                        <div class="field-group provider" id="openid">
                            <label for="openid-url">OpenID URL</label>
                            <input type="url" class="text" id="openid-url" name="openid-url">
                        </div>
                        <div class="field-group provider" id="myopenid">
                            <label for="myopenid-username">Username</label>
                            <input type="text" class="text" id="myopenid-username" name="myopenid-username">
                        </div>
                        <div class="field-group provider" id="livejournal">
                            <label for="livejournal-username">Username</label>
                            <input type="text" class="text" id="livejournal-username" name="livejournal-username">
                        </div>
                        <div class="field-group provider" id="flickr">
                            <label for="flickr-username">Username</label>
                            <input type="text" class="text" id="flickr-username" name="flickr-username">
                        </div>
                        <div class="field-group provider" id="wordpress">
                            <label for="wordpress-username">Username</label>
                            <input type="text" class="text" id="wordpress-username" name="wordpress-username">
                        </div>
                        <div class="field-group provider" id="verisign">
                            <label for="verisign-username">Username</label>
                            <input type="text" class="text" id="verisign-username" name="verisign-username">
                        </div>
                        <div class="field-group provider" id="claimid">
                            <label for="claimid-username">Username</label>
                            <input type="text" class="text" id="claimid-username" name="claimid-username">
                        </div>
                        <div class="buttons-container">
                            <div class="buttons">
                                <input type="hidden" id="openid_provider" name="openid_provider">
                                    <input type="hidden" id="openid_username" name="openid_username">
                                        <button type="submit" class="aui-button aui-button-primary">
                                            Log in
                                        </button>
                                        </div>

                                        <p class="signup-copy">
                                            <a href="/account/signup/">Need an account? Sign up free.</a>
                                        </p>

                                        </div>
                                        </form>
                                        </section>
                                        </div>




                                        <div class="clr"></div>
                                        </body>
                                        </html>
