
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Delete </h4>
</div>

<div class="modal-body">
    <h4 class="modal-title">Do you want to delete it ? </h4>
</div>

<div class="modal-footer">
    <form  novalidate="novalidate">	
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">OK</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>
</div>

